.orange { color: orange; }
.profile { width: 300px; text-align: center; padding: 1rem; background-color: #ebebeb; box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75); 
    -webkit-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);  -moz-box-shadow: 7px 5px 23px -9px rgba(0, 0, 0, 0.75);
    border-radius: 20px; margin-bottom: 1rem; position: relative;
}
.photo { width: 200px; height: 200px; border-radius: 100%; }
.avarta { position: relative;  width: 200px; margin: 0 auto; }
.new { position: absolute; left: 70%; top: 10%; font-weight: 600; color:#000; background:aqua; padding: 0.2rem 0.5rem; border-radius: 0.5rem; text-transform: uppercase; }